body {
  font-family: arial;
  background: #000000d0;
}

#stopwatch {
  width: 500px;
  height: 120px;
  margin: 100px auto;
  background: white;
  color: #333;
  border-radius: 10px;
  padding: 60px 50px 100px;
  text-align: center;
  font-size: 30px;
}

.time {
  justify-content: center;
  background-color: whitesmoke;
  padding: 55px 50px 50px;
  width: 300px;
  margin: 3px;
  border-radius: 5px;
  display: inline-block;
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 1px solid #007a5a;
  color: #007a5a;
  border-color: ;
  font-weight: 700;
  background: #fff;
  padding: 8px;
  font-size: 15px;
  border-radius: 4px;
  height: 36px;
  transition: all 80ms linear;
  width:25%;
  margin-top: 10%
}
  button:hover{
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
  background: rgba(248,248,248,1);
  }
                